# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build folders
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Executable files
*.exe
*.log

# Optional: Python environment
env/
venv/
